<div class="wrapper">
  <h1>Hi, I'm Thiago Rodrigues</h1>
  <h2>UX/UI Designer and Full Stack Web Developer currently based in Dublin, Ireland.</h2>

  <hr>

  <h3>Bio</h3>
  <p>I am a BSc graduate in Information Technology (CCT Dublin) and an experienced UX/UI Designer and Web Developer seeks face new challenges, to share and improve skills. I am based Dublin since April 2014, and currently working as an UX/UI Designer at Progress Systems.</p>

  <hr>

  <h3>Expertise</h3>
  <p>I have worked for multinational companies, financial sector, start-up enterprises and advertising agencies across different countries. My experience includes end-to-end web and mobile applications with rich user interface/experience through an user research, project conception, prototyping, testing and shipping, all based on design thinking and lean startup methodologies.</p>
  <p>8+ years’ experience with Adobe Creative Cloud Studio, Web Templates, User Interface, Graphic and Visual Design, Usability, Design Pattern, HTML5, CSS3 (BEM, OOCss, Sass, Bootstrap), Crossbrowser and Responsive Design.</p>
  <p>4+ years’ experience with Interaction Design, User-Centred Design and Lean Startup Methodologies, Design Thinking, Branding, Advertising and Digital Campaigns, Wireframing, Prototyping, MVP and Business Model.</p>
  <p>Knowledge of Python, Ruby on Rails, PHP (Wordpress), JavaScript (JQuery, ReactJs, VueJs) MySql, MongoDB and Full Stack Web Development (Repository, Version Control, Deploy, Linux CLI and DNS), Usability Testing, User Interviewing and Analysis, OKR and Scrum Methodology.</p>

  <hr>

  <p>
    <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/thiagodrigues/' %>
    <%= link_to 'Behance', 'https://www.behance.net/thiagodrigues' %>
    <%= link_to 'GitHub', 'https://github.com/drigues' %>
    <%= link_to 'CV PDF', '/ThiagoRodrigues-CV.pdf', target: :_blank %>
  </p>
</div>
