<h1>Hi, I'm Thiago Rodrigues</h1>
<h3>I'm an UX/UI Designer and Web Developer currently based in Dublin, Ireland.</h3>
<i>I know!! My website looks too bad now, while I don't get it done, please see more about me on the links below.</i>
<p>
  <%= link_to 'LinkedIn', 'https://www.linkedin.com/in/thiagodrigues/' %>
  <%= link_to 'GitHub', 'https://github.com/drigues' %>
  <%= link_to 'Behance', 'https://www.behance.net/thiagodrigues' %>
</p>
