/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Paytone+One|Roboto:400,400i');

body {
  background: #ecf0f1;
  padding: 15px 30px 60px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.wrapper{
  width: 70%;
}
h1 {
  color: #2980b9;
  font-family: 'Paytone One', sans-serif;
  font-size: 2.6em;
}
h2 {
    font-weight: 100;
    font-size: 1.2em;
    color: #2c3e50;
}
h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #2980b9;
}
i {
  font-size: 0.9em;
}
a {
  font-size: 1em;
  background: #2980b9;
  margin-right: 10px;
  padding: 10px 35px;
  color: #fff;
  text-decoration: none;
  position: relative;
  top: 15px;
  border-radius: 4px;
  display: inline-block;
}
a:hover {
  background: #3498db;
}
p {
    line-height: 1.4em;
    font-size: 0.95em;
    color: #2c3e50;
}
hr {
    opacity: .3;
    position: relative;
    top: 5px;
}

@media screen and (max-width: 600px) {

  .wrapper{ width: 100%; }

  a { margin: 20px auto; display: block; text-align: center; width: auto; }

}
